<!-- {% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
{% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %} -->
<a href="https://github.com/rayhan-mursalin" target="_blank"><img src="images/github.jpg" alt="Github"></a>
<a href="https://www.linkedin.com/in/rayhanmursalin" target="_blank"><img src="images/linkedin.png" alt="LinkedIn" ></a>
<a href="https://codepen.io/rayhan-mursalin/" target="_blank"><img src="images/codepen.png" alt="Codepen"></a>
<a href="https://twitter.com/rayhan_mursalin/" target="_blank"><img src="images/twitter.png" alt="Twitter"></a>
