<!-- {% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
{% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %} -->
<a href="https://rayhanmursalin.com" target="_blank"><i class="fa fa-globe fa-lg" aria-hidden="true"></i></a>
<a href="https://www.linkedin.com/in/rayhanmursalin" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
<a href="https://twitter.com/rayhan_mursalin/" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
<a class="fa fa-envelope fa-lg" href="mailto:{{ site.email }}"></a>
